# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
/reports/
.idea/jarRepositories.xml
.idea/.gitignore
.idea/compiler.xml
.idea/encodings.xml
.idea/octopusTeamPage.iml
.idea/uiDesigner.xml

